{% extends "employee_information/base.html" %}
{% load humanize %}

{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="d-flex justify-content-between">
            <h4 class="card-title mb-0">Home Page</h4>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <hr class="w-100">
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--success">
        <div class="card-inner">
            <h5 class="card-title">Projets</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_projet|intcomma }}</h5>
            <p class="tx-12 text-muted">Over All Count of Projets</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">business</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--primary">
        <div class="card-inner">
            <h5 class="card-title">Taches</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_tache|intcomma }}</h5>
            <p class="tx-12 text-muted">Over All Count of Taches</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">list</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--info">
        <div class="card-inner">
            <h5 class="card-title">Employees</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ total_employee|intcomma }}</h5>
            <p class="tx-12 text-muted">Over All Count of Employees</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">group</i>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
    <div class="mdc-card info-card info-card--info">
        <div class="card-inner">
            <h5 class="card-title">Performance</h5>
            <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ 1 }}</h5>
            <p class="tx-12 text-muted">Over All Count of Performance</p>
            <div class="card-icon-wrapper">
                <i class="material-icons">assessment</i>
            </div>
        </div>
    </div>
</div>


{% endblock pageContent %}
